#!/usr/bin/make -f

APP=libdeep
VERSION=1.00
RELEASE=1
SONAME=$(APP).so.0
LIBNAME=$(APP)-$(VERSION).so.0.0.$(RELEASE)
USRBASE=/usr

library = $(CURDIR)/$(LIBNAME)
libraryso = $(CURDIR)/$(SONAME)
header = $(CURDIR)/src/*.h
man_page = $(CURDIR)/man/$(APP).1.gz

DEST_INCLUDE = $(CURDIR)/debian/$(APP)0-dev$(USRBASE)/include/$(APP)
DEST_LIB = $(CURDIR)/debian/$(APP)0$(USRBASE)/lib
DEST_MAN = $(CURDIR)/debian/$(APP)0-dev$(USRBASE)/share/man/man1

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

build: build-stamp
		gcc -c -std=c99 -pedantic -fPIC $(CFLAGS) $(LDFLAGS) $(CPPFLAGS) $(CXXFLAGS) -o $(APP).o src/backprop.c -Isrc -lm -fopenmp
		gcc -c -std=c99 -pedantic -fPIC $(CFLAGS) $(LDFLAGS) $(CPPFLAGS) $(CXXFLAGS) -o $(APP)_neuron.o src/backprop_neuron.c -Isrc -lm -fopenmp
		gcc -c -std=c99 -pedantic -fPIC $(CFLAGS) $(LDFLAGS) $(CPPFLAGS) $(CXXFLAGS) -o $(APP)learn.o src/deeplearn.c -Isrc -lm -fopenmp
		gcc -c -std=c99 -pedantic -fPIC $(CFLAGS) $(LDFLAGS) $(CPPFLAGS) $(CXXFLAGS) -o $(APP)random.o src/deeplearn_random.c -Isrc -lm -fopenmp
		gcc -shared -Wl,-soname,$(SONAME) $(CFLAGS) $(LDFLAGS) $(CPPFLAGS) $(CXXFLAGS) -o $(LIBNAME) $(APP).o $(APP)_neuron.o $(APP)learn.o $(APP)random.o

build-stamp:
		dh_testdir
		touch build-stamp

clean:
		dh_testdir
		dh_testroot
		rm -f build-stamp
		dh_clean

install: build clean $(library) $(man_page)
		 dh_testdir
		 dh_testroot
		 dh_prep
		 dh_installdirs

		 mkdir -m 755 -p $(DEST_LIB)
		 mkdir -m 755 -p $(DEST_INCLUDE)
		 mkdir -m 755 -p $(DEST_MAN)

		 install -m 755 --strip $(library) $(DEST_LIB)
		 install -m 644 $(man_page) $(DEST_MAN)
		 install -m 644 $(header) $(DEST_INCLUDE)

binary-indep: build install
	 		  dh_makeshlibs
			  dh_shlibdeps
			  dh_testdir
			  dh_testroot
			  dh_installchangelogs
			  dh_installdocs
			  dh_installexamples
			  dh_installman
			  dh_link
			  dh_compress
			  dh_fixperms
			  dh_installdeb
			  dh_gencontrol
			  dh_md5sums
			  dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
